datasets/
temp/
.*
!.gitignore
node_modules/
test*
/uploads/*.*
!/uploads/.gitkeep
/downloads/*.*
!/downloads/.gitkeep
cookies.json
/db/*.*
!/results/*.*
!/results/.gitkeep
operational/*.*
!/operational/.gitkeep
/logs/*.*
!/logs/.gitkeep
/db/.gitkeep
