datasets/
temp/
.*
!.gitignore
node_modules/
test*
!tests/
tests/*
!tests/test_numeric_anchor_check.js
!tests/test_theguycornernyc_check.js
/uploads/*.*
!/uploads/.gitkeep
/downloads/*
!/downloads/.gitkeep
cookies.json
/db/*.*
/results/*.*
!/results/.gitkeep
operational/*.*
!/operational/.gitkeep
/logs/*.*
!/logs/.gitkeep
/db/.gitkeep
