html
  head
    title= "Creating new client"
    div = Client with such name already exsist
    a(href="http://localhost:3000/add_client") Add client
    p
    a(href="http://localhost:3000/start") Go to start 
