html
  head
    style
      include ./style.css
    title= "Selecting client"
  div Requests to Google left: #{quotas.serp}
  p
  div(class='container')
    div(class='leftPanel')
      p
      a(href='get_settings') Settings
      p
      a(href="/add_client") Add client
    div
      form(action='/second_step', method='POST' enctype="multipart/form-data")
        span Select client:
        select(id="client" name="clientId")
          each x in xs
            option(value=x.id) #{x.name}
        p
        div#action
          div
            input(type='radio', name='action', value='upload' checked='true' )#upload
            label(for='upload') Upload file
          div
            input(type='radio', name='action', value='update')#update
            label(for='update') Update client settings
        p
        input(type='submit', value='Submit')
