html
  head
    style
      include ./style.css
    title= "Selecting file"
    h1 Client: #{clientName}
    h2= "Select cvs file on you drive:"
  form(action='/load_file', method='POST' enctype="multipart/form-data")
    input(class='clientId' name='clientId' value=clientId)
    input(id="fileupload" name="myfile" type="file")
    p
    a(href="/") Cancel 
    input(type='submit', value='Submit')
