html
  head
    style
      include ./style.css
    title= "Uploading error"
    div Selected file does not contain field 'url'
    p
    a(href="/load_attempt") Load other file
    p
    a(href="/") Go to start 
