<html>
  <head>
    <style>
      #left {width:50%}
      #right {width:50%;text-align:right;}
      #labels {display:flex;}
      #progressBar {
        width:80%;
        border: solid 1px grey;
        height:20px;
      }
      #complete {
        width:0%;
        background-color:green;
        height:inherit;
      }
    </style>
  </head>
  <body>
  Progress
  <div id='progressBar'>
    <div id='complete'></div>
    <div id='labels'>
      <div id='left'>0</div>
      <div id='right'></div>
    </div>
  </div>
  <p></p>
  <div id='messages'></div>
  <script>
    function addMessage(text) {
      const div = document.getElementById('messages');
      const node = document.createElement("div");
      const message = document.createTextNode(text);
      node.appendChild(message);
      div.appendChild(node);
    }
    var total = 0;
    var loc = window.location, new_uri;
    if (loc.protocol === "https:") {
        new_uri = "wss:";
    } else {
        new_uri = "ws:";
    }
    new_uri += "//" + loc.host.replace('3000', '8080');
    const ws = new WebSocket(new_uri);
    ws.addEventListener('open', () => {console.log('websock opened')});
    ws.addEventListener('message', (event) => {
      console.log(event.data)
      addMessage(event.data)
      let h = JSON.parse(event.data);
      switch (h.type) {
        case 'message':
         break;
        case 'total':
          total = h.data;
          document.getElementById('complete').style.width = '0%';
          document.getElementById('right').innerHTML = total;
          break;
        case 'index':
          let elem = document.getElementById('complete'); 
          let width = (100*h.data/total).toFixed(0) + '%';
          elem.style.width = width;
          break;
        case 'finish':
          document.getElementById('complete').style.width = '100%';
          ws.close();
          window.location.href = '/reports'
          break;
      }
    });
    window.onunload = function () {
        ws.close();
    }
  </script>
  </body>
</html>
