body {
  font-family: 'Trebuchet MS', sans-serif;
}

.leftPanel {
  margin-right:9px;
  padding:5px;
  border-right: solid 1px grey;
}

.container {
  display:flex;
}

.col {
  margin:5px;
}

input[type=text] {
  margin-right: 5px;
}

.clientId {
 display:none;
}

input[type=submit] {
  padding:5px 10px;
  background:dodgerblue;
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
  color:white;
}

.blacklist {
  padding:5px 10px;
  background:black !important;
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
  color:white;
}

.download {
  border:0 none;
  cursor:pointer;
  color:dodgerblue;
}

.selected {
  background-color: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: none;
}
a {
 padding:5px;
 text-decoration: none;
 color:grey;
 border-bottom: 1px solid grey;
}
th, td {
  text-align:left;
  padding:2px 5px;
}
